body{
    background-image: url(../materiales/play\ video.png);
    background-size: 100%;
 }

 .video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
 }